<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediForecast</title>
    <link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MediForecast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/feedback}">Feedback</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/findDoctor}">Find Doctor</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/contactUs}">Contact</a></li>
            </ul>
        </div>
    </nav> 
	
	<br>

    <div class="container">
        <h1>Medical Parameters Form</h1>
        <form th:action="@{/predictDiabetes}" method="post">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="fastingGlucose">Fasting Blood Glucose</label>
                    <input type="text" class="form-control" id="fastingGlucose" name="fastingGlucose">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="hba1c">HbA1c</label>
                    <input type="text" class="form-control" id="hba1c" name="hba1c">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="randomGlucose">Random Blood Glucose</label>
                    <input type="text" class="form-control" id="randomGlucose" name="randomGlucose">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="urineGlucose">Urine Glucose</label>
                    <input type="text" class="form-control" id="urineGlucose" name="urineGlucose">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="microalbumin">Urine Microalbumin</label>
                    <input type="text" class="form-control" id="microalbumin" name="microalbumin">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="creatinine">Serum Creatinine</label>
                    <input type="text" class="form-control" id="creatinine" name="creatinine">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <footer class="text-center bg-body-tertiary mt-auto">
  <!-- Grid container -->
  <div class="container pt-4 ">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="">MediForecast</a>
  </div>
  <!-- Copyright -->
</footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
